// Styles
// -----------------------
.contentBox {
  padding: 13px;
  background: rgba(102, 102, 102, 0.1);
  .border-radius(5px);
}

// Basic structure, layout
// -----------------------
body {
  background: @grayDark url(../images/bg-linen-black.png) center top repeat;
  margin: 0;
  #pxlfont > .sans-serif(400,@baseline);
  font-size: @basefont;
  color: @grayLight;
}

.page {
  max-width: 940px;
  padding: 24px 0 48px;
}

.section-header {
  margin-bottom: 63px;
}

.region-content {
  .region-inner {
    .contentBox;
  }
}

// Branding
// -----------------------
.site-name {
  a {
    color: @gray;
  }
}

// Navigation
// -----------------------
.breadcrumbs {
  a {
    padding: 0 @basespacing;
  }
  
}

.menu a {
  #pxlfont > .sans-serif(300,@baseline);
  text-transform: uppercase;

  &:link,
  &:visited {
    color: @grayLight;
  }
  &:hover,
  &.active {
    color: @white;
  }
}

.inline {
  list-style: none;
  margin: 0;

  li {
    display: inline;
    padding: 0 5px;
    
    a {
      display: inline-block;
      padding: 8px;
    }  
    .active {
      .border-radius(2px);
      font-weight: 600;
      background: rgba(153, 153, 153, 0.15);
    } 
  }
}


// Generic styles
// -----------------------
// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}