// Styles
// -----------------------
#pxl {
  .contentBox {
    padding: @basespacing @basespacing (@basespacing * 1.5);
    background: rgba(102, 102, 102, 0.1);
    .border-radius(5px);
  }
  .hoverText {
    background: rgba(153, 153, 153, 0.15);
    color: @white;
    text-decoration: none;
  }
}

// Basic structure, layout
// -----------------------
body {
  background: @grayDark url(../images/bg-linen-black.png) center top repeat;
  margin: 0;
  #pxlfont > .sans-serif(400,@baseline);
  font-size: @basefont;
  color: @grayLight;
}

footer {
  border: none;  
}

.page {
  margin: 0 auto;
  max-width: 940px;
  padding: 24px 0 48px;
}

.section-header {
  margin-bottom: 63px;
}

.zone-content {
  footer {
    margin: 0 0 (2*@basespacing);
    padding-top: 0;
  }
}

.region-content {
  & > .block {
    #pxl > .contentBox;
  }
}




// Branding
// -----------------------
.site-name {
  font-size: @fontMedium;
  padding: 0 5px;
  text-align: right;
  
  a {
    .border-radius(2px);
    color: @gray;
    display: inline-block;
    padding: 8px;
    #pxl > .transition(background 0.3s ease);
 
    &:hover,
    &.active,
    &.active-trail {
      #pxl > .hoverText;
    }
  }
}

// Navigation
// -----------------------
.breadcrumbs {
  a {
    padding: 0 (@basespacing/2);
  }
  h2 + a {
    padding-left: @basespacing;
  }
}

.menu a,
.pills a {
  #pxlfont > .sans-serif(300,@baseline);
  text-transform: uppercase;
  .border-radius(2px);
  #pxl > .transition(background 0.3s ease);
  text-shadow: none;

  &:link,
  &:visited {
    color: @grayLight;
  }
  &:hover,
  &.active,
  &.active-trail {
    #pxl > .hoverText;
  }
  &.active,
  &.active-trail {
    font-weight: 600;
  }
}

.inline,
.pills {
  list-style: none;
  margin: 0;

  li {
    display: inline;
    padding: 0 5px;
    
    a {
      display: inline-block;
      padding: 8px;
    }  
  }
}

// Tabs (pills)
.region-content {
  & > .pills {
    #pxl > .transition(all 0.3s ease);
    padding-bottom: 10px;
    position: absolute;
    .opacity(0);
    top: -66px;
    visibility: hidden;
    width: 99%;

    &:hover {
      visibility: visible;
      .opacity(100);
    }
  }
  &:hover > .pills {
    visibility: visible;
    .opacity(100);
  }
}

// Colors
// -----------------------
// Shared colors for buttons and alerts
.btn,
.messages {
  // Set text color
  &.warning,
  &.warning:hover,
  &.error,
  &.error:hover,
  &.status,
  &.status:hover,
  &.info,
  &.info:hover {
    color: @white
  }
  // Sets the close button to the middle of message
  .close{
    font-family: Arial, sans-serif;
    line-height: 18px;
  }
  // Danger and error appear as red
  &.warning,
  &.error {
    .gradientBar(#ee5f5b, #c43c35);
  }
  // Success appears as green
  &.status {
    .gradientBar(#62c462, #57a957);
  }
  // Info appears as a neutral blue
  &.info {
    .gradientBar(#5bc0de, #339bb9);
  }
}

// Messages
// -----------------------
// Base alert styles
.messages {
  position: relative;
  padding: 7px 15px;
  margin-bottom: @baseline;
  color: @grayDark;
  .gradientBar(#fceec1, #eedc94); // warning by default
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  border-width: 1px;
  border-style: solid;
  .border-radius(4px);
  .box-shadow(inset 0 1px 0 rgba(255,255,255,.25));

  // Adjust close icon
  .close {
    margin-top: 1px;
    *margin-top: 0; // For IE7
  }

  // Make links same color as text and stand out more
  a {
    font-weight: bold;
    color: @grayDark;
  }
  &.warning p a,
  &.error p a,
  &.success p a,
  &.info p a {
    color: @white;
  }

  // Remove extra margin from content
  h5 {
    line-height: @baseline;
  }
  p {
    margin-bottom: 0;
  }
  div {
    margin-top: 5px;
    margin-bottom: 2px;
    line-height: 28px;
  }
  .btn {
    // Provide actions with buttons
    .box-shadow(0 1px 0 rgba(255,255,255,.25));
  }

  &.block-message {
    background-image: none;
    background-color: lighten(#fceec1, 5%);
    .reset-filter();
    padding: 14px;
    border-color: #fceec1;
    .box-shadow(none);
    ul, p {
      margin-right: 30px;
    }
    ul {
      margin-bottom: 0;
    }
    li {
      color: @grayDark;
    }
    .alert-actions {
      margin-top: 5px;
    }
    &.error,
    &.status,
    &.info {
      color: @grayDark;
      text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }
    &.error {
      background-color: lighten(#f56a66, 25%);
      border-color: lighten(#f56a66, 20%);
    }
    &.status {
      background-color: lighten(#62c462, 30%);
      border-color: lighten(#62c462, 25%);
    }
    &.info {
      background-color: lighten(#6bd0ee, 25%);
      border-color: lighten(#6bd0ee, 20%);
    }
    // Change link color back
    &.warning p a,
    &.error p a,
    &.status p a,
    &.info p a {
      color: @grayDark;
    }

  }
}

// Generic styles
// -----------------------
// Slash divived lists
.slash-list {
  li {
    padding: 0 0 0 9px;
    background: transparent url('../images/pxl2011-sprites.png') no-repeat -2px -379px;
  }
  .term-0 {
    padding: 0;
    background: transparent;
  }
}

.slashed {
  padding: 0 0 0 9px;
    background: transparent url('../images/pxl2011-sprites.png') no-repeat -2px -379px;
}


// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}