// Headings
h1,h2,h3,h4,h5,h6 {
  #pxlfont > .serif(100,1.428571429em);
  color: @grayLighter;
}

.title {
  font-size: @fontLarge;
  margin-bottom: 1em;
  padding: 0 @basespacing;
}

.text-secondary {
  color: @gray;
}

.text-aside {
  #pxlfont > .serif(100,1.428571429em);
  
  p {
    #pxlfont > .serif(100,1.428571429em);
  }
}

h2 {
  font-size: @fontMedium;

  &.content-heading {
    line-height: 2 *@baseline;
    margin: @baseline 0 0;
  }
}



// Links
a {
  color: @linkColor;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
  &:hover {
    color: @linkColorHover;
    text-decoration: underline;
  }
}

// Menus
.main-menu li {
  font-size: @fontMedium;
}

// Regions
.region-sidebar-second {
  text-align: right;
}