// Pixelcollider variable overrides
@basefont:  14px;
@fontMedium: @basefont * 1.285714286; // 18px/14px
@fontLarge: @basefont * 1.571428571;  // 22px/14px

@gray: #9B9B9B;
@linkColor: #0099CC;

@basespacing: 13px;

// Pixelcollider mixins
#pxlfont {
  .shorthand(@weight: normal, @size: 14px, @lineHeight: 20px) {
    font-size: @size;
    font-weight: @weight;
    line-height: @lineHeight;
  }
  .sans-serif(@weight: normal, @lineHeight: 20px) {
    font-family: freight-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: @weight;
    line-height: @lineHeight;
  }
  .serif(@weight: 500, @lineHeight: 1.428571429em) {
    font-family: "museo-slab", "Georgia", serif;
    font-weight: @weight;
    line-height: @lineHeight;
  }
  .monospace(@weight: normal, @size: 12px, @lineHeight: 20px) {
    font-family: "Monaco", Courier New, monospace;
    font-size: @size;
    font-weight: @weight;
    line-height: @lineHeight;
  }
}

// Transitions
#pxl {
  .transition(@transition) {
  //-webkit-transform-style: e(%("preserve-3d"));
       -webkit-transition: @transition;
          -moz-transition: @transition;
           -ms-transition: @transition;
            -o-transition: @transition;
               transition: @transition;
  }
}